*
!companions
!docs
!prisma/schema.prisma
!public/favicon.ico
!src
!.eslintignore
!.yarnrc.yml
!cache-handler.mjs
!eslint.config.js
!image-loader.mjs
!next.config.ts
!next-env.d.ts
!package.json
!postcss.config.js
!prettier.config.js
!tsconfig.json
!yarn.lock