@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

.big-title {
    &:first-child {
        @apply text-4xl font-extrabold md:text-5xl lg:text-5xl xl:text-7xl;

        span {
            @apply bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent;
        }
    }
}

article {
    h1 {
        @apply big-title;
    }
}

.app-title {
    @apply text-3xl font-bold md:text-4xl;
}

main {
    @apply grid grid-rows-[auto_1fr_auto] h-screen
}